
<header><title>Register</header>
<h1>SIGN UP</h1>
<div>
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
</div>
<div>
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
</div>
<div>
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>
<div>
  <%= form.label :password %>
  <%= form.text_field :password %>
</div>