<div class="profile">
  <div class="up-profile">
    <div class="image-and-name">
      <div>
        <%= image_tag @user.image if @user.image.attached? %>
        <p><%= @user.first_name %></p>
        <% if @user.id == current_user.id %>
          <%= link_to "Edit profile", edit_user_path %>
        <% end %>
      </div>
    </div>
    <div class="bio">
      <div>
        <h1>About <%= @user.first_name %></h1>
        <p><%= @user.bio %></p>
      </div>
    </div>
  </div>
  <div class="col-2">
    <% if @user.id == current_user.id%>
      <% if @user.id == current_user.id%>
        <%= link_to new_listing_path do%>
          <%= fa_icon "plus-circle", class: "plus-circle"%>
          <p>Create a new listing</p>
        <%end%>
      <%end%>
    <%end%>
  </div>
  <div class="list">
  <%= render "shared/listings", header: "#{@user.first_name}", listings: @user.listings %>
  </div>
</div>
