<div class="float">
  <%# <%= render "shared/listings", header: "Favourites", listings: @favourites %> 
  <ul>
    <li>
      <%= link_to dash_path(listings: "favourites") do %>
        <%= fa_icon "heart" %> Favourites
      <% end %>
    </li>
    <hr>
    <ul class="links">
      <li><%= link_to "My Profile", user_path(current_user[:id]) %></li>
      <li><%= link_to "Settings", edit_user_registration_path %></li>
      <li><%= link_to "My Purchase History", purchase_history_path(current_user[:id]) %></li>
    </ul>
  </ul>
</div>