<%= render "navbar" %>
<h3>From your hands to the closests´</h3>
<div class="about-page">
  <div class="horizontal-scroll">
    <%= image_tag ("https://hablemosdemitologias.com/wp-content/uploads/2018/05/Elfos2.jpg")%>
    <%= image_tag ("https://i.ytimg.com/vi/tb5hPQsqU3I/maxresdefault.jpg")%>
    <%= image_tag ("https://i.ytimg.com/vi/tb5hPQsqU3I/maxresdefault.jpg")%>
    <%= image_tag ("https://i.ytimg.com/vi/tb5hPQsqU3I/maxresdefault.jpg")%>
  </div>
</div>
