<%= render "navbar" %>

<h2>Contact Us</h2>

<%= form_with url: contact_success_path, local: true do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>

  <div class="actions">
    <%= f.submit "Send"  %>
  </div>

<% end %>

<%= link_to "Back", :back %>