<div class="dashboard flex-container">
  <div class="col">
    <div class="panel">
      <%= render "shared/listings", header: "Favourites", listings: @favourites %>
    </div>
  </div>
  <div class="recent-listings">
    <div class="panel">
      <%= render "shared/listings", header: "Recent Posts", listings: @listings %>
    </div>
  </div>
  <div class="col">
    <ul class="links">
      <li><%= link_to "My Profile", user_path(current_user[:id]) %></li>
      <li><%= link_to "Settings", edit_user_registration_path %></li>
      <li><%= link_to "My Purchase History", purchase_history_path(current_user[:id]) %></li>
    </ul>
  </div>
</div>