<h2 class="instruction">Please enter your address before continuing</h2>

<%= link_to "Why do we need this?", privacy_path, class: "disclaimer" %>

<% if @address.errors.any? %>
  <% @address.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_with model: @address, local: true do |f| %>
  <fieldset>
    <%= f.label :street_1 %>
    <%= f.text_field :street_1, autofocus: true, autocomplete: "Address Line 1" %>

    <%= f.label :street_2 %>
    <%= f.text_field :street_2, autocomplete: "Address Line 2" %>

    <%= f.label :suburb %>
    <%= f.text_field :suburb, autocomplete: "Suburb" %>

    <%= f.label :state %>
    <%= f.select :state, @states.map {|state| state }, autocomplete: "State"  %>

    <%= f.label :postcode %>
    <%= f.text_field :postcode, autocomplete: "Postcode" %>

    <%= f.submit "Submit" %>
  </fieldset>
<% end %>