
<footer>
  <div class="high-footer">
    <div class="footer-logo">
      <%= image_tag "logo.png", class: "logo" %>
    </div>
    <div class="legal">
      <h4>Legal</h4>
      <ul>
        <li><%= link_to "Terms", pages_path %></li>
        <li><%= link_to "Privacy", pages_path %></li>
      </ul>
    </div>
    <div class="help">
      <h4>Help</h4>
      <div class="inside-help">
        <ul>
          <li><%= link_to "Contact", contact_path%></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="low-footer">
    <div class="social-media">
        <%= fa_icon "linkedin" %>
      <%# fa_icon "camera-retro"
      # => <i class="fa fa-camera-retro"></i> %>
        <%= fa_icon "twitter" %>
        <%= fa_icon "youtube" %>
        <%= fa_icon "facebook" %>
        <%= fa_icon "instagram" %>
    </div>
    <div class="license">
      <p>Copyright © 2019 Clementine Oldfield & Juan Manuel Sanchez-Ortiz All Rights Reserved.</p>                  
    </div>
  </div>
</footer>