<header>
  <% if user_signed_in? %>
    <%= link_to dash_path do %> 
      <div class="logo">
        <%= image_tag "logo-green", class: "logo" %>
      </div>
    <% end %>
    <div class="dropdown">
      <div class="dropdown-link">
        <p class="current-user"><%= current_user.first_name %></p>
      </div>
      <div class="dropdown-content">
        <ul>
          <li><%= link_to "My Profile", user_path(current_user[:id]) %></li>
          <li><%= link_to "Settings", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete if user_signed_in? %></li>
        </ul>
      </div>
    </div>
    <div class="mobile-nav">
      <%= render "shared/hamburger" %>
    </div>

  <% else %>
    <%= link_to root_path do %> 
      <div class="logo">
        <%= image_tag "logo.png", class: "logo" %>
      </div>
    <% end %>
  <% end %>

  <%= link_to "login", new_user_session_path if !user_signed_in? %>
</header>

<div class="spacer"></div>
