<%# Only the three latest listings %>
<h1><%= header %></h1>

<hr>

<% if listings.length > 0 %>
  <% listings.reverse.each do |listing| %>
    <%= link_to listing_path(listing.id), class: "listing-link" do %>
      <div class="card">   
        <h4><%= sanitize listing.title %></h4>

        <div class='featured-image'>
          <%= image_tag(listing.image, class: "listing-image") if listing.image.attached? %>
        </div>
        <p>
          <%= sanitize listing.body[0..100] + "..." %>
        </p>
      </div>
    <% end %>
    <p class="category-tag"> <%= listing.category.name %> </p>
    <hr>
  <% end %>
<% else %>
  <p class="note">Nothing here.</p>
<% end %>