<h2>Edit Listing</h2>

<%= form_with model: @listing, local: true do |f| %>
  <%= image_tag @listing.image if @listing.image.attached? %>
  <div class="field">
    <%= f.label :featured_image %>
    <%= f.file_field :featured_image, accept: "image/png,image/gif,image/jpeg,image/jpg" %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, @categories, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit "Update"  %>
  </div>

<% end %>

<% if @listing.active %>
  <%= link_to "Archive this listing", deactivate_listing_path, method: :deactivate %>
<% else %>
  <%= link_to "Reactivate this listing", reactivate_listing_path, method: :reactivate %>
<% end %>

<%= link_to "Back", :back %>