<button><%= link_to "Edit Listing", edit_listing_path%></button>

<div class="flex-container">
  <div class="col">
    <%= image_tag(@listing.image, class: "featured-image") if @listing.image.attached? %>
    <div class="listing-owner-container">
      <%= image_tag(@listing.image, class: "avatar") if @listing.image.attached? %>
      <h4><%= @listing.user.first_name %></h4>
    </div>
  </div>
  <div class="col">
    <h1><%= @listing.title %></h1>
    <p>
      <%= @listing.body %>
    </p>
  </div>
</div>

