<%= button_to 'Edit Listing', edit_listing_path if @listing.user.id == current_user.id%>

<div class="flex-container">
  <div class="col">
    <%= image_tag(@listing.image, class: "featured-image") if @listing.image.attached? %>
    <%= link_to user_path(@listing.user.id) do %>
      <div class="listing-owner-container">
        <%= image_tag(@listing.user.image, class: "avatar") if @listing.user.image.attached? %>
        <h4><%= @listing.user.first_name %></h4>
      </div>
    <% end %>
  </div>
  <div class="col">

    <h1><%= @listing.title %></h1>
    <p>
      <%= @listing.body %>
    </p>

    <button id="stripe_payment">Purchase <%= @listing.title %> for $<%= number_with_precision(@listing.price / 100.0, precision: 2) %></button>

  <% if current_user.favourite_listings.include? @listing %>
     <%= button_to "Remove from Favourites", unset_favourite_path, method: :delete, params: { listing: @listing } %>
  <% else %>
     <%= button_to "Add to Favourites", set_favourite_path, method: :post, params: { listing: @listing } %>
  <% end %>
  </div>
</div>

<script>
document.getElementById("stripe_payment").addEventListener("click", function() {
  var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :public) %>');

  stripe.redirectToCheckout({
    sessionId: '<%= @stripe_session_id %>',
  }).then(function (result) {
    // If `redirectToCheckout` fails due to a browser or network
    // error, display the localized error message to your customer
    // using `result.error.message`.
  });
});
</script>

