<%= button_to 'Edit Listing', edit_listing_path if @listing.user.id == current_user.id%>

<div class="flex-container">
  <div class="col">
    <%= image_tag(@listing.image, class: "featured-image") if @listing.image.attached? %>
    <%= link_to user_path(@listing.user.id) do %>
      <div class="listing-owner-container">
        <%= image_tag(@listing.user.image, class: "avatar") if @listing.user.image.attached? %>
        <h4><%= @listing.user.first_name %></h4>
      </div>
    <% end %>
  </div>
  <div class="col">

    <h1><%= @listing.title %></h1>
    <p>
      <%= @listing.body %>
    </p>

    <div class="flex-container">

      <%= form_with url: confirmation_path(quantity: :quantity), method: :get, local: true do |form| %>
        <div class="price-container">
          <p class="price" >$<%= number_with_precision(@listing.price / 100.0, precision: 2) %></p>
        </div>

        <div class="quantity-container">
          <%= form.number_field :quantity, value: 1,  in: 1..@listing.quantity %>
        </div>

        <div class="buttons-container"> 
          <%= form.submit "Buy Now" %>
          <% if current_user.favourite_listings.include? @listing %>
            <%= button_to "Remove from Favourites", unset_favourite_path, method: :delete, params: { listing: @listing } %>
          <% else %>
            <%= button_to "Add to Favourites", set_favourite_path, method: :post, params: { listing: @listing } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
